// main: ../main.less


@media all and (max-width: 767px) {
    .header__block-down,
    .header__block-up__input,
    .header__block-up__select {
        display: none;
    }

    .big_title-size-color {
        font-size: 36px;
    }

    .comprehensive_title-block {
        width: 221px;
        height: 48px 
    }

}