// main: ../main.less



.comprehensive_title_span {
    color: @turquoise;
}

.comprehensive_title-block {
    display: block;
    background-color: @turquoise;
    width: 663px;
    height: 94px;
    border-radius: 100px;
    text-align: center;
}




.comprehensive_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comprehensive_information_item {
    display: block;
    width: 203px;
    height: 82px;
    color: @white;
}

.comprehensive_information_item-flex {
    display: flex;
    height: 55px;
}

.comprehensive_information_item_text1 {
    font-size: 48px;
    font-weight: bold;
}

.comprehensive_information_item_text2 {
    padding: 27px 10px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.6;
}

.comprehensive_information_item__line {
    width: 100%;
    padding: 11px 0 0 0;
    height: 0;
    border: none;
    border-top: 1px solid @white;
    opacity: 0.6;
}

.comprehensive_information_item_description {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
}

.comprehensive__content_box2 {
    padding: 124px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.comprehensive__content_box2__item-flex {
    display: flex;
}
.comprehensive__content_box2__item-pd {
    padding: 0 0 5px 0;
}

.comprehensive__content_box2__item {
    position: relative;
    display: block;
    width: 557px;
    height: 391px;
    background-color: @red;
    border-radius: 32px;
}

.comprehensive__content_box2__item--bg {
    padding: 40px 0 0 40px;
    top: 104px;
    position: absolute;
    display: block;
    width: 557px;
    height: 287px;
}

.comprehensive__content_box2__item--bgwhite {
    color: @black;
    background-color: @white;
    border-radius: 32px;
}

.comprehensive__content_box2__item_title {
    font-size: 32px;
    font-weight: bold;
}

.comprehensive__content_box2__item_text {
    padding: 24px 0 40px 0;
    font-size: 14px;
    font-weight: 400;
}

.comprehensive__content_box2__round {
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 180px;
    height: 37px;
    color: @white;
    background-color: @red;
    border-radius: 100px;
    text-align: center;
    padding: 10px 0;
}

.comprehensive__content_box2__round--centr {
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.comprehensive__content_box2__round--width-left {
    width: 234px;
}

.comprehensive__content_box2__round--width-right {
    width: 162px;
}

.comprehensive__content_box2__item_btn {
    left: 514px;
    top: 41px;
    background-position: 0;
}

.comprehensive__content_box2__item-green {
    background-color: @green;
}

.comprehensive__content_box2__round-green {
    background-color: @green;
}

.comprehensive__content_box2__round-green--width-up {
    width: 182px;
}

.comprehensive__content_box2__round-green--width-down {
    width: 234px;
}
